/*#region ----------teg---------- #*/
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: var(--first-font);
  font-style: normal;
  color: var(--first-color);
  background-color: var(--first-color);
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
header {
  border-bottom: 1px solid var(--seven-color);
}
/*#endregion #*/

/*#region ----------class---------- #*/
.title {
  font-weight: 900;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--second-color);
  text-align: center;
  margin-bottom: 50px;
}
.uppercase-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
/*#endregion #*/
